@import url('https://fonts.googleapis.com/css?family=Outfit:wght@100..900&display=swa p');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select, input, textarea {
    border: 1px solid #c2c2c2;
    outline-color: #faa39e;
    border-radius: 4px;
}

.active {
    background-color: #ffebf5;
    border-color: #f8493f;
}